body{
    margin: auto;
    font-family:Arial;
    background-color: rgb(241, 213, 218);


}
body::-webkit-scrollbar {
    width: 7px;
    height:3px;
  }
  
body::-webkit-scrollbar-track {
    background: rgb(255, 120, 255);
  }
  
 
.navBar {
    width:1356px;
    height: 45px;
    background-color: #AACCA5;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;

}
.parte2 a{
    color:white; 
}
.parte1{
    display:flex;
}
li{
    list-style: none;
    display:flex;
    padding-right:20px;
    
}
a{
    text-decoration:none;
}
.sair{
    background-color:#FFC0CB;
    border:2px solid white;
    border-radius:15px;
    height:40px;
    width:50px;
    font-size:13px;
    margin-top:3px;
}
.caixa{
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B38DCB;
    height: 400px;
    width: 500px;
    margin-top:100px;
}
input{
    border-radius: 50px;
    border: none;
    background-color: #ffc0cb;
    width: 200px;
    height: 25px;
}
button{
    background-color: #D9D9D9;
    height: 40px;
    font-size: 18px;
    margin-top:20px;
    border-radius: 50px;
    border: none;
    padding: 3px 3px 3px 3px;
    width: 150px;
    cursor:pointer;
}
span{
    font-weight: 600;
    font-size:25px;
    text-align:center;
    padding:5px;
   
}
select{
    border-radius:20px;
    height:40px;
    width:200px;
    background-color:#ffc0cb;;
    text-align: center;
}