body{
    margin: auto;
    font-family:Arial;
    background-image: linear-gradient(rgb(245, 206, 245), white);
    background-size: cover;
    /* height: 100vh; */


}
.navBar{
    width:1338px;
    height:20%;
    background-color: #AACCA5;
    display:flex;
    padding-left: 10px;
    justify-content:space-between;
}
.parte1{
    display:flex;
}
.menu{
    display:flex;

}
.menu{
    list-style: none;
    display:flex;
    padding-right:20px;
}
a{
  text-decoration: none;
  color:white;
}
input{
  border-radius:20px;
  border:none;
  height:25px;
  width:190px;
}
.pesquisa{
  background-color:purple;
  color:white;
}
.caixa1{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}


.imagem1{
    width:400px; 
    margin-top:30px;
} 
.imagem1 img{
    width:100%;
    border-radius: 20px;

}
p{
    text-align: center;
    width:400px;
} 
  
  .box {
    text-decoration: none;
    height:100px;
    width:100px;
    background-color: purple;
    border: 5px solid white;
    border-radius: 50px;
    text-decoration: none;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .box:hover{
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 1s ease-in-out;
    cursor:pointer;
  }
  
 .button {

    color: white;
    text-decoration: none;

  }
  
  .overlay {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    /* background: rgba(0, 0, 0, 0.7); */
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: pink;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top:10px;
    color:black;
    text-align: center;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .popup .close:hover {
    color: purple;
  }
  .curiosidades{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
  }
.content li{
    padding:4px;
}
.noticias{
    text-align: center;
    border-bottom:2px solid #DCBCEF;
}
.card{
    background-color: #AACCA5;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width:280px;
    height:290px;
    text-align: center;
    border-radius:50px;
    padding:15px;
    font-size: 15px;

}
.card button{
    background-color:#FFC0CB;
    color:black;
    font-size:15px;
    border-radius:20px;
    border:none;
    width:200px;
    height:30px;
    cursor: pointer;
}
.caixa2{
    display:flex;
    justify-content:space-evenly;
    margin-top:20px;
    margin-bottom:20px;
}