body{
    margin: auto;
    font-family:Arial;
    background-image: linear-gradient(rgb(245, 206, 245), white);
}
.navBar{
    width:1338px;
    height:20%;
    background-color: #AACCA5;
    display:flex;
    padding-left: 10px;
    justify-content:space-between;
}
.parte1{
    display:flex;
}
.menu{
    display:flex;

}
li{
    list-style: none;
    display:flex;
    padding-right:20px;
}
p{
    text-align:center;

}
.quiz{
    display:flex;
    justify-content: space-evenly;
}

.quadro1{
    display:flex;
    flex-direction: column;
}
.quadro2{
    display:flex;
    flex-direction: column;
}
select{
    border-radius:50px;
    width:120px;
    height:45px;
    align-self: center;
    margin-top:15px;
    margin-bottom:15px;
}
#exibir_resultado{
    width:300px;
    height:200px;
    background-color:white;
    border-radius:50px;
    border:none;
    align-self:center;
    display:flex;
    justify-content:center;
}
#exibir_resultado span{
    margin-top:20px;
}
#exibir_resultado img {
    align-self:center;
    margin-right:20%;
    margin-top:10px;
}
#exibir_resultado b{
    margin-left: 30%;

}