body{
    margin: auto;
    font-family:Arial;
    background-color: rgb(241, 213, 218);

}
.navBar {
    width:1356px;
    height: 45px;
    background-color: #AACCA5;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;

}
.parte2 a{
    color:white; 
}
.parte1{
    display:flex;
}
li{
    list-style: none;
    display:flex;
    padding-right:20px;
}
a{
    text-decoration: none;
    color:white;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
select{
    border-radius:10px;
    border:3px solid purple;
    background-color: #FFCFBA;
    height:50px;
    width:150px;
    text-align: center;
    
}
.votacao{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.kpis{
    display:flex;
    justify-content:center;
}
.card{
    background-color:#FFCFBA;
    width:180px;
    height:100px;
    border-radius:20px;
    text-align:center;
    margin:20px;
    border:1px solid white;
}
.card p{
    border-bottom:2px solid white;
}
.inicio{
    display:flex;
}
input{
    border-radius:10px;
    border:none;
    width:170px;
    height:40px;
}
button{
    background-color:purple;
    color:white;
    border-radius:50px;
    border:none;
    width:100px;
    height:40px;
    cursor:pointer;
    margin-top:15px;

}
.um{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dois{
    display:flex;
    flex-direction: column;
}
.dois p{
    font-size:24px;
}
.sair{
    background-color:#FFC0CB;
    border:2px solid white;
    border-radius:15px;
    height:40px;
    width:50px;
    font-size:13px;
    margin-top:3px;
}
